@charset "UTF-8";
/* GLOBAL*/
body {
  font-family: Verdana;
}

.shadow-c {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
}

/* GLOBAL*/
/*Nav Bar*/
.navbar {
  padding: 0;
}

.navbar-bg {
  background: linear-gradient(180deg, #517FC5 13.02%, rgba(81, 127, 197, 0.75) 30.73%, rgba(81, 127, 197, 0.75) 82.81%, #517FC5 96.35%);
}

.navbar-brand {
  padding: 0;
}

.nav-link {
  color: #FFF;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-email {
  font-weight: 700;
  color: #36527D;
}

.search-d {
  background-color: #5F7FA7;
  border-radius: 10px;
  width: 196px;
  height: 30px;
  align-items: center;
  justify-content: center;
}
.search-d .btn {
  padding: 0;
}
.search-d .form-control {
  background-color: #FFF;
  stroke-width: 1px;
  stroke: #7D7D7D;
  width: 160.567px;
  height: 21.774px;
  align-self: center;
  border-radius: 0;
}

/*Nav Bar*/
/*perfil*/
.t-status,
.w-status, .perfil .location, .perfil .civil {
  color: #979797;
  font-weight: 400;
}

.name-friend, .perfil .more-friends, .perfil .nome {
  color: #4E93AA !important;
  font-weight: 400;
}

.perfil {
  border-radius: 5px;
}
.perfil .img-profile {
  height: 292px;
  width: 100%;
  padding: 21px 13px 13px 13px;
  aspect-ratio: auto;
  object-fit: cover;
}
.perfil .civil {
  margin: 0;
}
.perfil .icon-more {
  align-self: center;
}
.perfil .nav-perfil {
  color: #535C69;
  font-weight: 400;
}
.perfil .item-nav-perfil {
  padding: 0.1rem 0;
  border-radius: 2px 2px 0px 0px;
  border: 1px solid #DDE9F8;
  background: #EFF9FF;
}
.perfil .link-nav-perfil {
  display: flex;
  gap: 0.5rem;
  color: #535C69;
  text-decoration: none;
}

/*perfil*/
/*social*/
.social {
  border-radius: 5px 50px 5px 5px;
}

.social-tittle {
  color: #000;
  font-weight: 400;
  padding: 7px 0;
  padding: 7 0;
}

.status {
  display: flex;
  gap: 1rem;
  border-style: solid;
  border-left: 1px;
  border-right: 1px;
  border-color: #EAEAEC;
  stroke-width: 1px;
  padding: 0.5rem;
  margin-bottom: 12px;
}

.state {
  text-decoration: none;
  flex-direction: column;
}

.w-status {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icon-status {
  margin-right: 5px;
}
.icon-status.multi {
  margin-right: 0px;
}

.tag {
  color: #FFF;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 7px 7px 0px 0px;
  background: var(--Gradient, linear-gradient(180deg, #517FC5 13.02%, rgba(81, 127, 197, 0.75) 30.73%, rgba(81, 127, 197, 0.75) 82.81%, #517FC5 96.35%));
  padding: 5px 8px;
  cursor: pointer;
  margin-left: 5px;
}

.divisor {
  border-width: 5px;
  border-color: #B5B7BB;
  margin: 0;
}

/* Aplica estilo diferente apenas a colunas pares */
table tr:nth-child(even) {
  background-color: #EEF8FE;
  /* Cor de fundo para colunas pares */
}

/* Estilo padrão para todas as colunas */
tr {
  /* Estilo comum para todas as colunas, se necessário */
  background-color: #DEEEFD;
  display: block;
}
tr .t-status {
  display: inline-block;
}

/*social*/
/*friends*/
.card-f {
  background: #F0F0F0;
  display: flex;
  justify-content: center;
  padding: 4px;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.name-friend {
  margin-top: 8px;
  text-decoration: none;
}

.card-wrapper {
  grid-template-columns: repeat(3, 1fr);
}

/*friends*/

/*# sourceMappingURL=style.css.map */
