.card-f {
    background: #F0F0F0;
    display: flex;
    justify-content: center;
    padding: 4px;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;

}
.name-friend{
    margin-top: 8px;
    @extend %link;
    text-decoration: none;
}
.card-wrapper {
    grid-template-columns: repeat(3,1fr);
}
